.alert-danger, .alert-success {
    padding: 5px;
    display: none;
}

#profile-info .row {
    margin-bottom: 15px;
}
.form-group {
    border-bottom: none !important;
    padding-top: 0px !important;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.change-pass{
    margin-bottom: -17px;
}
.old-pass{
    margin-top: 9px;
}
.new-pass{
    margin-top: 9px;
}